<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end"><ion-button (click)="alertaLogOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button></ion-buttons>
    <ion-title>
      Todas las Autorizaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let resultado of resultadosArray" [routerLink]="['/autorizacion-detalle', resultado.$$instanceId]">

  <ion-avatar slot="start" >
    <img src="https://img.icons8.com/plasticine/100/000000/task-completed.png">
  </ion-avatar>

  <ng-template #loggedOut>
    No abierta
  </ng-template>

  <ion-label>
    <h1>{{resultado.$$title}}</h1>
    <p><strong>{{resultado.titulo}}</strong></p>
  </ion-label>

  </ion-item>

  <ion-item text-center *ngIf="!resultado">
  <ion-label class="noHayAperturas">No hay Autorizaciones Liberadas para mostrar</ion-label>
  </ion-item>

  <!-- <pre>Contenido obtenido: {{ resultadosArray | json }}</pre> -->
</ion-content>