<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start"><ion-back-button defaultHref="/autorizacion-lista"></ion-back-button></ion-buttons>
    <ion-title>Cancelar Autorizacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="FormularioCancelar" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label>Fecha de cierre</ion-label>
    <!-- <ion-datetime formControlName="fechaTxt" display-format="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DDTHH:mmTZD"  [pickerOptions]="PickerPersonalizadoOptions"></ion-datetime> -->

    <ion-datetime formControlName="fechaTxt" display-format="YYYY-MM-DD HH:mm" picker-format="YYYY-MM-DDTHH:mmTZD" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
  </ion-item>

<ion-item>
  <ion-label>Motivo:</ion-label>
  <ion-textarea formControlName="motivoTxt" rows="6" cols="20" placeholder="Ingrese el motivo de la cancelacion aqui..."></ion-textarea>
</ion-item>
<p ion-text *ngIf="FormularioCancelar.get('motivoTxt').touched && FormularioCancelar.get('motivoTxt').hasError('required')">
  <ion-text color="danger">
    Campo requerido
  </ion-text>
</p>

<ion-button type="submit" size="medium" expand="full" shape="round" color="primary" [disabled]="FormularioCancelar.invalid" tappable>
  Confirmar
</ion-button>

<div *ngIf="invalidCancelar" class="error" color="danger">
  Ocurrio un error.
</div>
</form>

</ion-content>
