<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/autorizacion-lista"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de Autorizacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <!-- <ion-icon name="list" slot="start"></ion-icon> -->

      <ion-label><strong>Autorizacion: </strong>{{arrayAutorizacion.$$instanceId}}</ion-label>
      <ion-label slot="end"><strong>Estado: </strong>{{arrayAutorizacion.estado}}</ion-label>
      
    </ion-item>

    <ion-card-header>
      <ion-card-title>{{arrayAutorizacion.titulo}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>{{arrayAutorizacion.descripcion}}</ion-card-content>

    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>{{arrayAutorizacion.ubicacion}}</ion-label>
    </ion-item>
  </ion-card>
   
  <ion-card *ngIf="solicitanteEmpresa != 'No tiene'">
    <ion-item>
      <ion-label><strong>Solicitante</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>{{solicitanteEmpresa}}</ion-label>
    </ion-item>

    <ion-item *ngIf="solicitanteTrabajador != 'No tiene'">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{solicitanteTrabajador}}</ion-label>
    </ion-item>

    <ion-item *ngIf="solicitanteTrabajador == 'No tiene'">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>No tiene trabajador asignado</ion-label>
    </ion-item>

    <ion-item *ngIf="solicitanteVehiculo != 'No tiene'">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>{{solicitanteVehiculo}}</ion-label>
    </ion-item>

    <ion-item *ngIf="solicitanteVehiculo == 'No tiene'">
      <ion-icon name="car-outline" slot="start"></ion-icon>
      <ion-label>No tiene vehiculo asignado</ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="solicitanteEmpresa =='No tiene'">
    <ion-item>
      <ion-label><strong>Solicitante</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>No tiene solicitante asignado</ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="empresasEjecutantesLargo > 0">
    <ion-list>
      <!-- <ion-list-header><strong>Empresas Ejecutantes</strong></ion-list-header> -->
      <ion-item>
        <ion-label><strong>Empresas Ejecutantes</strong></ion-label>
      </ion-item>

      <div *ngFor="let empresa of arrayAutorizacion.ejecutantes">
        <ion-item >
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label><strong>{{empresa.$$title}}</strong></ion-label>
        </ion-item>
        <componente-ejecutantes [identificadorEmpresa]="empresa.$$instanceId"></componente-ejecutantes>
      </div>
 
      </ion-list>
  </ion-card>

  <ion-card *ngIf="empresasEjecutantesLargo == 0">
    <ion-item>
      <ion-label><strong>Empresas Ejecutantes</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>No tiene empresas asignadas</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label><strong>Tiempo</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Apertura:</ion-label>
      <ion-label>{{arrayAutorizacion.apertura}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Cierre:</ion-label>
      <ion-label>{{arrayAutorizacion.cierre}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Tiempo:</ion-label>
      <ion-label>{{arrayAutorizacion.tiempo}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label><strong>Actividad</strong></ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="pricetag-outline" slot="start"></ion-icon>
      <ion-label>Estado:</ion-label>
      <ion-label>{{arrayAutorizacion.estado}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-row *ngIf="permiteBtnCerrar">
    <ion-col col-6>
      <ion-button expand="block" (click)="cerrarAutorizacionPrompt()">Cerrar</ion-button>
    </ion-col>
    <ion-col col-6>
      <ion-button expand="block" (click)="cancelarAutorizacionPrompt()">Cancelar</ion-button>
    </ion-col>
    </ion-row>

  <ion-row *ngIf="!permiteBtnCerrar">
    <ion-col col-6> 
      <ion-button color="medium" expand="block" disabled>Cerrar</ion-button>
    </ion-col>
  
    <ion-col col-6>
      <ion-button color="medium" expand="block" disabled>Cancelar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
