<!-- <ul *ngIf="ejecutante">
  <u>{{ ejecutante.empresa.title }}</u>
  <u> Trabajadores </u>
  <li>Ejecutante ID: {{ ejecutante.$$instanceId }}</li>
  <ul *ngFor="let item of ejecutante.trabajadores">
    <li>{{ item.$$title }}</li>
  </ul>
</ul> -->
<div *ngIf="ejecutante">
<ion-item *ngFor="let trabajador of ejecutante.trabajadores">
  <ion-icon name="person" slot="start"></ion-icon>
  <ion-label><h2>{{trabajador.nombre}}, {{trabajador.apellido}}</h2>
  <h2>{{trabajador.cuil}}</h2>
</ion-label>
</ion-item>

<ion-item *ngIf="ejecutante.vehiculos.length == 0">
  <ion-icon name="car" slot="start"></ion-icon>
  <ion-label><h2>No tiene vehiculos asignados</h2>
  <!-- <h2>{{trabajador.cuil}}</h2> -->
</ion-label>
</ion-item>

<ion-item *ngFor="let vehiculo of ejecutante.vehiculos">
  <ion-icon name="car" slot="start"></ion-icon>
  <ion-label><h2>{{vehiculo.modelo.title }} ({{vehiculo.dominio}})</h2>
  <!-- <h2>{{trabajador.cuil}}</h2> -->
</ion-label>
</ion-item>
</div>